<div class="well">
  <%= form_for article do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= f.label "Tags" %>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |checkbox| %>
      <% checkbox.label(class: "checkbox inline") {checkbox.check_box(class: "checkbox") + checkbox.text} %>
    <% end %>
    <%= f.submit "Create Article",  class: 'btn btn-primary' %>
  <% end %>
</div>
