<div class="article">
  <h3><%= article.title %></h3>
  <p> <%= article.body %></p>
  <div class="tags">
    <p>Tags: <%= article.tags.map(&:name).join(", ") %>
  </div>
</div>

<div class="well">
  <%= form_for [article, comment] do |f| %>
    <%= render "shared/errors", obj: comment %>
    <%=f.label :body, "Leave a comment:"%>
    <%=f.text_area :body %>
    <%= f.submit "Create comment",  class: "btn btn-primary" %>
  <% end %>
</div>

<h5>Comments:</h5>
<% article.comments.each do |comment| %>
  <div class="row">
    <div class="span8 well comment">
      <p><em>"<%= comment.body %>"</em></p>
    </div>
  </div>
<% end %>
