<div class="article">
  <h3><%= article.title %></h3>
  <p> <%= article.body %></p>
  <div class="tags">
    <h4> Tags:
      <% article.tags.map(&:name).each do |tag| %>
        <span class="label label-success"><%= tag %></span>
      <% end %>
    </h4>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-8">
    <h5>Comments:</h5>
    <% article.comments.each do |comment| %>
      <%= render "shared/comment", comment: comment %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render "shared/comment_form", resource: article, comment: comment %>
  </div>
</div>
