<div class="page-header">
  <h1>Tagged with: '<%= tag.name %>'</h1>
</div>
<% taggables.each do |taggable| %>
  <div class="jumbotron">
    <h3><%= link_to taggable.title.capitalize, taggable %></h3>
    <p><%= taggable.body %></p>

    <h4 class="pull-right"> Tags:
      <% taggable.tags.each do |tag| %>
        <%= render "shared/tag", tag: tag %>
      <% end %>
    </h4>

    <div class="comments">
      <% taggable.comments.first(3).each do |comment| %>
        <%= render "shared/comment", comment: comment %>
      <% end %>
    </div>
  </div>
<% end %>
