<div class="post">
  <h3><%= post.title %></h3>
  <p> <%= post.body %></p>
</div>

<div class="well">
  <%= form_for [post, comment], remote: true do |f| %>
    <%= render "shared/errors", obj: comment %>
    <%=f.label :body, "Leave a comment:"%>
    <%=f.text_area :body %>
    <%= f.submit "Create comment",  class: "btn btn-primary" %>
  <% end %>
</div>

<h5>Comments:</h5>
<% post.comments.each do |comment| %>
  <div class="row">
    <div class="span8 well comment">
      <p><em>"<%= comment.body %>"</em></p>
    </div>
  </div>
<% end %>
